/secrets.json
# Application Keys
appkeys.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Django
*.log
*.sqlite3
db.sqlite3
db.sqlite3-journal
*.pot
*.pyc
local_settings.py

# Linting and formatting
.ruff_cache/
.mypy_cache/
.pytest_cache/
node_modules/
package-lock.json
.eslintcache
.prettierignore

# Distribution / packaging
build/
dist/
downloads/
vflask/
.venv/
s/
~/
